@model IList<EditalListViewModel>

@{
    ViewData["Title"] = "Editais";
    EditalFilterViewModel filter = (EditalFilterViewModel)ViewData["CurrentFilter"];
}

<style>
    .iconFavorit:before {
        visibility: visible;
    }

    input[type=checkbox].iconFavorit {
        visibility: hidden;
    }
</style>

@section Breadcrumbs {
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Home</li>
        <li class="breadcrumb-item active">Editais</li>
    </ol>
}

<div class="col-sm-12">
    <div class="mensagem-edital" role="alert"></div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <form>
                    <input asp-for="@filter.Pesquisa" type="hidden" value="true" />
                    <div class="form-row">
                        <div class="form-group col-sm-1">
                            <label>UF:</label>
                            <select asp-for="@filter.UF" class="form-control">
                                <option value="ES">ES</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-3">
                            <label>Município:</label>
                            <select asp-for="@filter.Municipio" class="form-control">
                                <option value="">Selecione</option>
                                <option value="JERÔNIMO MONTEIRO">JERÔNIMO MONTEIRO</option>
                                <option value="PIÚMA">PIÚMA</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-4">
                            <label>Órgão:</label>
                            <select asp-for="@filter.Orgao" class="form-control">
                                <option value="">Selecione</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-2">
                            <label>Apenas Favoritos?</label>
                            <select asp-for="@filter.Favoritas" class="form-control">
                                <option value="">Selecione</option>
                                <option value="S">SIM</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-2">
                            <button type="submit" class="btn btn-block btn-primary active" style="margin-top: 28px;">Pesquisar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@if (Model != null && Model.Where(x => x.Status == "1").Count() > 0)
{
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-accent-success">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Editais Abertos
                </div>
                <div class="card-body">
                    <table class="table table-responsive-sm table-striped table-sm tbEditaisAbertos">
                        <thead>
                            <tr>
                                <th data-orderable="false"></th>
                                <th>Edital Nº</th>
                                <th>UF</th>
                                <th>Município</th>
                                <th>Órgão</th>
                                <th>Data de publicação</th>
                                <th width="10%" data-orderable="false"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var edital in Model.Where(x => x.Status == "1"))
                            {
                                <tr>
                                    @if (edital.Favorito)
                                    {
                                        <td><input type="checkbox" class="iconFavorit fa fa-star font-xl" data-idEdital="@edital.Id" style="color: #dcbd15;" value="true" /></td>
                                    }
                                    else
                                    {
                                        <td><input type="checkbox" class="iconFavorit fa fa-star-o font-xl" data-idEdital="@edital.Id" value="false" /></td>
                                    }

                                    <td>@edital.NrEdital</td>
                                    <td>@edital.UF</td>
                                    <td>@edital.Municipio</td>
                                    <td>@edital.Orgao</td>
                                    <td>@edital.DtPublicacao</td>
                                    <td>
                                        <button type="button" class="btn btn-pill btn-block btn-warning btn-edital-editar" aria-pressed="true" data-idEdital="@edital.Id" data-nmMunicipio="@edital.Municipio" data-nmUF="@edital.UF" data-nmOrgao="@edital.Orgao" data-dtPublicacao="@edital.DtPublicacao" data-vlPleiteado="@edital.vlPeiteado" data-vlRecebido="@edital.vlRecebido" data-dtNotificacao="@edital.dtNotificacao" data-status="@edital.Status"><span class="icon-note"></span> Editar</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
}

@if (Model != null && Model.Where(x => x.Status == "2").Count() > 0)
{
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-accent-warning">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Editais Pleiteados
                </div>
                <div class="card-body">
                    <table class="table table-responsive-sm table-striped table-sm tbEditaisPleiteados">
                        <thead>
                            <tr>
                                <th data-orderable="false"></th>
                                <th>Edital Nº</th>
                                <th>UF</th>
                                <th>Município</th>
                                <th>Órgão</th>
                                <th>Data de publicação</th>
                                <th width="10%" data-orderable="false"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var edital in Model.Where(x => x.Status == "2"))
                            {
                                <tr>
                                    @if (edital.Favorito)
                                    {
                                        <td><input type="checkbox" class="iconFavorit fa fa-star font-xl" data-idEdital="@edital.Id" style="color: #dcbd15;" value="true" /></td>
                                    }
                                    else
                                    {
                                        <td><input type="checkbox" class="iconFavorit fa fa-star-o font-xl" data-idEdital="@edital.Id" value="false" /></td>
                                    }

                                    <td>@edital.NrEdital</td>
                                    <td>@edital.UF</td>
                                    <td>@edital.Municipio</td>
                                    <td>@edital.Orgao</td>
                                    <td>@edital.DtPublicacao</td>
                                    <td>
                                        <button type="button" class="btn btn-pill btn-block btn-warning btn-edital-editar" aria-pressed="true" data-idEdital="@edital.Id" data-nmMunicipio="@edital.Municipio" data-nmUF="@edital.UF" data-nmOrgao="@edital.Orgao" data-dtPublicacao="@edital.DtPublicacao" data-vlPleiteado="@edital.vlPeiteado" data-vlRecebido="@edital.vlRecebido" data-dtNotificacao="@edital.dtNotificacao" data-status="@edital.Status"><span class="icon-note"></span> Editar</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
}

@if (Model != null && Model.Where(x => x.Status == "3").Count() > 0)
{
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-accent-danger">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Editais Finalizados
                </div>
                <div class="card-body">
                    <table class="table table-responsive-sm table-striped table-sm tbEditaisFinalizados">
                        <thead>
                            <tr>
                                <th data-orderable="false"></th>
                                <th>Edital Nº</th>
                                <th>UF</th>
                                <th>Município</th>
                                <th>Órgão</th>
                                <th>Data de publicação</th>
                                <th width="10%" data-orderable="false"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var edital in Model.Where(x => x.Status == "3"))
                            {
                                <tr>
                                    @if (edital.Favorito)
                                    {
                                        <td><input type="checkbox" class="iconFavorit fa fa-star font-xl" data-idEdital="@edital.Id" style="color: #dcbd15;" value="true" /></td>
                                    }
                                    else
                                    {
                                        <td><input type="checkbox" class="iconFavorit fa fa-star-o font-xl" data-idEdital="@edital.Id" value="false" /></td>
                                    }
                                    l
                                    <td>@edital.NrEdital</td>
                                    <td>@edital.UF</td>
                                    <td>@edital.Municipio</td>
                                    <td>@edital.Orgao</td>
                                    <td>@edital.DtPublicacao</td>
                                    <td>
                                        <button type="button" class="btn btn-pill btn-block btn-warning btn-edital-editar" aria-pressed="true" data-idEdital="@edital.Id" data-nmMunicipio="@edital.Municipio" data-nmUF="@edital.UF" data-nmOrgao="@edital.Orgao" data-dtPublicacao="@edital.DtPublicacao" data-vlPleiteado="@edital.vlPeiteado" data-vlRecebido="@edital.vlRecebido" data-dtNotificacao="@edital.dtNotificacao" data-status="@edital.Status"><span class="icon-note"></span> Editar</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
}

<div class="modal fade modal-edital-editar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-warning modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span class="icon-note"></span> Edital Edital</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <b>Município:</b> <span class="nmMunicipio"></span>
                <br />
                <b>Órgão:</b> <span class="nmOrgao"></span>
                <br />
                <b>Data de publicação:</b> <span class="dtPublicacao"></span>
            </div>
            <div class="modal-body">
                <div class="col-sm-12">
                    <div class="mensagem-edital-editar" role="alert"></div>
                </div>
                <div class="form-row model-text">
                    <input type="hidden" class="idEdital" />
                    <div class="form-group col-sm-3">
                        <label>Valor Pleiteado (R$):</label>
                        <input type="text" class="form-control valorPleiteado money" />
                    </div>
                    <div class="form-group col-sm-3">
                        <label>Valor Recebido (R$):</label>
                        <input type="text" class="form-control valorRecebido money" />
                    </div>

                    <div class="form-group col-sm-3">
                        <label>Data para notificação:</label>
                        <input type="date" class="form-control dtNotificacao" />
                    </div>

                    <div class="form-group col-sm-3">
                        <label>Status:</label>
                        <select class="form-control status">
                            <option value="1">Aberta</option>
                            <option value="2">Pleiteado</option>
                            <option value="3">Finalizado</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-warning btn-edital-editar-salvar">Salvar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section Scripts{
    <script src="~/js/jquery.mask.js"></script>

    <script type="text/javascript">
        $('.money').mask('#.##0,00', { reverse: true });

        $('.tbEditaisAbertos').DataTable({
            "order": [[5, "asc"]]
        });

        $('.tbEditaisPleiteados').DataTable({
            "order": [[4, "asc"]]
        });

        $('.tbEditaisFinalizados').DataTable({
            "order": [[4, "asc"]]
        });

        $('.iconFavorit').on('click', async function () {
            var object = $(this).val();
            var idEdital = $(this).data('idedital');

            if (object == 'true') {
                var result = await SetFlagFavorito("Edital", idEdital, false);
                if (result) {
                    $(this).removeClass('fa fa-star').addClass('fa fa-star-o').removeAttr('style');
                    $(this).val(false);
                }
            }
            else {
                var result = await SetFlagFavorito("Edital", idEdital, true);
                if (result) {
                    $(this).removeClass('fa fa-star-o').addClass('fa fa-star').css('color', '#dcbd15');
                    $(this).val(true);
                }
            }
        });

        $('.btn-edital-editar').on('click', function () {
            var idEdital = $(this).data('idedital');
            var nmMunicipio = $(this).data('nmmunicipio');
            var nmUF = $(this).data('nmuf');
            var nmOrgao = $(this).data('nmorgao');
            var dtPublicacao = $(this).data('dtpublicacao');

            var vlPleiteado = $(this).data('vlpleiteado');
            var vlRecebido = $(this).data('vlrecebido');
            var dtNotificacao = $(this).data('dtnotificacao');
            var status = $(this).data('status');

            $('.nmMunicipio').text('');
            $('.nmOrgao').text('');
            $('.dtPublicacao').text('');

            $('.nmMunicipio').text(nmMunicipio + ' - ' + nmUF);
            $('.nmOrgao').text(nmOrgao);
            $('.dtPublicacao').text(dtPublicacao);

            $('.idEdital').val(idEdital);
            $('.valorPleiteado').val(vlPleiteado);
            $('.valorRecebido').val(vlRecebido);
            $('.dtNotificacao').val(ConvertStringToDate(dtNotificacao));
            $('.status').val(status);

            $('.modal-edital-editar').modal();
        });

        $('.btn-edital-editar-salvar').on('click', function () {
            var editalEditarViewModel = {};

            var idEdital = $('.idEdital').val();
            var valorPleiteado = $('.valorPleiteado').val();
            var valorRecebido = $('.valorRecebido').val();
            var dtNotificacao = $('.dtNotificacao').val();
            var status = $('.status').val();

            editalEditarViewModel.Id = idEdital;
            editalEditarViewModel.ValorPleiteado = valorPleiteado;
            editalEditarViewModel.ValorRecebido = valorRecebido;
            editalEditarViewModel.DtNotificacao = dtNotificacao;
            editalEditarViewModel.Status = status;

            $.ajax({
                async: true,
                data: editalEditarViewModel,
                url: '/Home/EditEdital',
                type: 'POST',
                success: function (response) {
                    if (response.sucesso) {
                        $('.modal-edital-editar .model-text').html('');
                        $('.mensagem-edital-editar').addClass('alert alert-success').html('').append('Edital editado com sucesso!');
                        setTimeout(function () {
                            $('.modal-edital-editar').modal('hide');
                            window.location.reload();
                        }, 1000);
                    }
                    else {
                        $('.mensagem-edital-editar').addClass('alert alert-danger').html('').append(response.mensagemErro);
                    }

                    resolve(response.sucesso);
                }
            });
        });

        async function SetFlagFavorito(objeto, id, favoritar) {
            var favoritarViewModel = {};

            favoritarViewModel.Objeto = objeto;
            favoritarViewModel.Id = id;
            favoritarViewModel.Favoritar = favoritar;

            return new Promise(function (resolve, reject) {
                $.ajax({
                    async: true,
                    data: favoritarViewModel,
                    url: '/Home/AlterarFlagFavorito',
                    type: 'POST',
                    success: function (response) {
                        if (!response.sucesso) {
                            $('.mensagem-edital').addClass('alert alert-danger').html('').append(response.mensagemErro);
                        }

                        resolve(response.sucesso);
                    }
                });
            });
        };
    </script>
}